



.todo-wrapper{
  margin: 150px auto 0 auto;
  width: 550px;
  border: 1px solid rgb(197, 197,197);
  border-radius: 3px;
}
.btn{
  border-radius: 0;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.form-control{
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 450px;
}
.head{
  width: 548px;
  background-color:gainsboro;
}
.head>h1{
  font-size: larger;
  padding-left: 10px;
  
}
.todo{
  width: 525px;
  height: 50px;
  background-color: rgba(242, 228, 228, 0.282);
  /* border:gainsboro 2px solid; */
  margin-left: 10px;
  border-radius: 2px;
  margin-bottom: 1px; 
}
